#title {
    color: white;
    background-color: lightpink;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.links {
    color: black;
    background-color: aquamarine;
}